<footer class="footer">
  <nav class="nav-footer">
    <a href="/"><img src="./assets/images/ico-arrow.svg" alt="boton de flecha"></a>
  </nav>
  <div class="contain">
    <section class="list">
        <ul>
          <li><a href="https://adalab.es" class="list-element">ARTICLES</a></li>
          <li><a href="https://adalab.es" class="list-element">BOOKS</a></li>
          <li><a href="https://adalab.es" class="list-element">EVENTS</a></li>
          <li><a href="https://adalab.es" class="list-element">REASONS</a></li>
          <li><a href="https://adalab.es" class="list-element">TIPS</a></li>
        </ul>
    </section>
    <section class="list2">
        <ul>
          <li><a href="https://adalab.es" class="list-element">TWITTER</a></li>
          <li><a href="https://adalab.es" class="list-element">INSTAGRAM</a></li>
          <li><a href="https://adalab.es" class="list-element">MASTODON.SOCIAL</a></li>
        </ul>
    </section>
    <section class="copy">
      <p>&copy;2023</p>
      <p>We <span class="heart">&hearts;</span> components</p>
    </section>
  </div>
  </footer>
 