<footer>
    <section>
      <nav>
        <ul>
          <li><a href="https://adalab.es">ARTICLES</a></li>
          <li><a href="https://adalab.es">BOOKS</a></li>
          <li><a href="https://adalab.es">EVENTS</a></li>
          <li><a href="https://adalab.es">REASONS</a></li>
          <li><a href="https://adalab.es">TIPS</a></li>
        </ul>
      </nav>
    </section>
    <section>
      <nav>
        <ul>
          <li><a href="">TWITTER</a></li>
          <li><a href="">INSTAGRAM</a></li>
          <li><a href="">MASTODON.SOCIAL</a></li>
        </ul>
      </nav>
    </section>
    <section>
      <p>&copy;2023</p>
      <p>We &hearts; components</p>
    </section>
  </footer>
