<header class="header">
  <div class="hamburguer">
    <img src="./assets/images/ico-menu.svg" alt="menu">
    </div>
  <img class="img-big" src="./assets/images/cover.jpg" alt="Foto de Nueva york">
  <section class="header-section">
    <div class="central-column">
    <h1>anonymus proxy</h1>
    <p>In hac habitasse platea dictumst</p>
    <nav class="nav-button">
      <a href="#salto"><img src="./assets/images/ico-scroll-down.svg" alt="boton de scroll"></a>
    </nav>
  </div>
  </section>
</header>
