<header class="header">
  <div class="hamburguer">
    <img src="./assets/images/ico-menu.svg" alt="menu" />
  </div>
  <section class="header-section">
    <div class="central-column">
      <h1 class="header-section__title">anonymus proxy</h1>
      <p class="header-section__parr">In hac habitasse platea dictumst</p>
      <nav class="nav-button">
        <a href="#down"
          ><img src="./assets/images/ico-scroll-down.svg" alt="boton de scroll"
        /></a>
      </nav>
    </div>
  </section>
</header>
