<main>
    <section class="main-section1">
      <div class="central-column2">
      <h3 class="main-section1__title">Insomnia Tips</h3>
      <h2 class="main-section1__title2">Looking Through A Window</h2>
      <p class="main-section1__parr">Donec accumsan, nulla ut volutpat porrttitor, quam odiu tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <nav class="main-section1__nav">Go</nav>
      </div>
    </section>
    <section class="main-section2" id="down">
      <h2>3 Reasons To Purchase</h2>
      <article>
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </article>
      <article>
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie</p>
      </article>
      <article>
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt</p>
      </article>
    </section>
    <p>More reasons</p>
    <button>&uarr;</button>
  </main>
