$primary-color:#ffffff;
$title-color:#8ccbea;
$font-family-text: Roboto, sans-serif;
$font-family-title: RobotoSlab;
$description-color:#4a4a4a;
$secondary-color:#f26002;
$text-color:#000000;
$primary-background-color:#eff9ff;
$secondary-background-color:#304268;